<div id="menu">
		<ul id="main">
			<li class="current_page_item">@Html.ActionLink("Homepage",MVC.Home.Index())</li>
			<li>@Html.ActionLink("Calculators",MVC.Calc.Index())</li>
			<li><a href="http://careers.stackoverflow.com/brandondimperio">About Me</a></li>
			<li><a href="http://twitter.com/MaslowJax">Contact</a></li>
		</ul>
	</div>
	<div id="logo">
		<h1><a href="#"><span>Imaginary Development on azure</span></a></h1>
		<p>My tinkerings, code, and examples</p>
	</div>