<div id="menu">
		<ul id="main">
			<li class="current_page_item">@Html.ActionLink("Homepage",MVC.Home.Index())</li>
			<li>@Html.ActionLink("Calculators",MVC.Calc.Index())</li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
		</ul>
	</div>
	<div id="logo">
		<h1><a href="#"><span>Gestured</span></a></h1>
		<p>Designed By Free CSS Templates</p>
	</div>