@{
    ViewBag.Title = "Index";
}

<h2>Hello Azure Mvc 4!</h2>
 
 
    
<div id="calculators">
           @Html.Action(MVC.Calc.Index())
</div>
<div id="sammy">
    <h3>Sammy</h3>
    <a class="jsfiddle" href="http://jsfiddle.net/Maslow/zJkSU/" target="_blank">Knockout</a>
</div>
<div id="others">
    <a href="http://jsfiddle.net/Maslow/P3LcU/" class="jsfiddle" target="_blank">KoGrid</a>
    
</div>