@{
    ViewBag.Title = "Ember Calculator";
    ViewBag.RenderJQuery = false;
}
<div id="emberroot">
      
    <h1>Hello EmberJs!</h1>
               
    <script type="text/x-handlebars" data-template-name="index">
  <h1>People</h1>

  <ul>
  {{#each model.people}}
    <li>Hello, <b>{{fullName}}</b>!</li>
  {{/each}}
  </ul>
   <h1>Calculator</h1>
  <input type="number"/>
  {{#each model.ops}}

  <span>
  <input type="button" class="operation" {{bindAttr value="op"}} {{bindAttr title="text"}} />
  </span>

  {{/each}}
 
</script>

</div>

</div>
@section scripts
{

@if (ViewBag.RenderJQuery != false)
{
    @Scripts.Render("~/bundles/jquery")    
}
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery-1.8.0.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0.beta6/handlebars.min.js"></script>
        <script src="http://cloud.github.com/downloads/emberjs/ember.js/ember-latest.js"></script>    
    @Scripts.Render(Links.Scripts.Calc.calc_ember_js)                    

}

        
